<h1>Browse the products on sale</h1>
<ul>
  <% @products.each do |product| %>
    <%= link_to product_path(product), class: "text-decoration-none text-black", target: :_blank do %>
    <li><%= product.title %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Add a product", new_product_path, class: "d-block text-decoration-none text-start" %>
